 * ⁠{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "M PLUS 1 Code", "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
  }
  
  /* .note-container {
    display: flex;
    flex-direction: column;
  } */

  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: 'Kumar One';
    font-weight: 200;
  }
  
  footer {
    position: relative;
    text-align: center;
    bottom: 0px;
    width: 98%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
    height: 10px;
    margin: 50px;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 90%;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

/* Create Note area */
  .add-area {
    padding: 10px;
    max-width: 100%;
    margin: 1% 31%;
  }

  .text-box {
    width: 80%;
    height: 30px;
    margin: 10px 0px;
  }

  .add-button {
    margin: 0px 35%;
  }